body{
    background-color: rgb(250, 190, 242);
    background-image: linear-gradient(rgb(232, 199, 245), rgb(202, 129, 250), rgb(182, 88, 245));
    margin: 2cm;

}
h1{
    color: rgb(255, 0, 200);
    font-size: 50px;
    text-align: center; 
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: rgb(243, 98, 212);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
