body{
    background-color: rgb(250, 190, 242);
    background-image: linear-gradient(rgb(232, 199, 245), rgb(202, 129, 250), rgb(182, 88, 245));
    margin: 3cm;

}
h1{
    color: rgb(255, 0, 200);
    font-size: 50px;
    text-align: center; 
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: rgb(245, 61, 61);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color:rgb(146, 41, 41);
}
p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
}
footer{
    background-color: rgb(245, 86, 205);
    color: rgb(0, 0, 0);
    text-align: center;
    width: calc(100% + 166px);
    margin-left: -3cm;
    margin-bottom: -3cm;
    padding: 30px;
    padding-bottom: 3cm;
    cursor: crosshair;
}
.boton{
    display:inline-block;
    width: calc(100%/5);
    background-color: rgb(255, 85, 227);
    border-style: outset;
    border-radius: 10px;
    text-align: center;
    color:black;
    padding: 10px;
}
#imagencasa{
    width: 100px;
    height: 100px;
}
#casita{
    width: 100px;
    height: 100px;
}
#principal{
    font-size: 25px;
}
a:link{
    color:rgb(0, 0, 0);
    font-weight: bold;
}
a:visited{
    color:rgb(0, 63, 122);
    text-decoration: underline;
    font-weight: bold;
}
a:hover{
    background-color:rgb(219, 144, 249);
    color:rgb(155, 0, 217)
}
ul{
    font-size: 20px;
}
